Q05 Print Queue/example.txt
Q05 Print Queue/puzzle.txt
Q06 Guard Gallivant/example.txt
Q06 Guard Gallivant/puzzle.txt
Q07 Bridge Repair/example.txt
Q07 Bridge Repair/puzzle.txt
Q08 Resonant Collinearity/example.txt
Q08 Resonant Collinearity/puzzle.txt
Q09 Disk Fragmenter/test.txt
Q09 Disk Fragmenter/example.txt
Q09 Disk Fragmenter/puzzle.txt
Q10 Hoof It/puzzle.txt
Q10 Hoof It/test.txt
Q10 Hoof It/example.txt
Q11 Plutonian Pebbles/example.txt
Q11 Plutonian Pebbles/puzzle.txt
Q12 Garden Groups/test.txt
Q12 Garden Groups/puzzle.txt
Q12 Garden Groups/example.txt
Q13 Claw Contraption/example.txt
Q13 Claw Contraption/puzzle.txt
Q14 Restroom Redoubt/puzzle.txt
Q14 Restroom Redoubt/example.txt
Q15 Warehouse Woes/example.txt
Q15 Warehouse Woes/puzzle.txt
Q16 Reindeer Maze/example.txt
Q16 Reindeer Maze/puzzle.txt
Q17 Chronospatial Computer/example.txt
Q17 Chronospatial Computer/puzzle.txt
Q18 RAM Run/example.txt
Q18 RAM Run/puzzle.txt
Q19 Linen Layout/example.txt
Q19 Linen Layout/puzzle.txt
Q20 Race Condition/example.txt
Q20 Race Condition/puzzle.txt
Q21 Keypad Conundrum/example.txt
Q21 Keypad Conundrum/test.txt
Q21 Keypad Conundrum/puzzle.txt
Q22 Monkey Market/example.txt
Q22 Monkey Market/puzzle.txt
Q23 LAN Party/example.txt
Q23 LAN Party/puzzle.txt
